# Environment Variables
.env

# Dependencies
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
eggs/
.eggs/

# Testing & Quality
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesize/
.radon/

# IDEs
.vscode/
.idea/
.DS_Store
